<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.lapuestadelsolresort.daily-tests</string>
  <key>ProgramArguments</key><array><string>/bin/bash</string><string>__SOCIALSOL_ROOT__/scripts/daily-test-suite.sh</string></array>
  <key>WorkingDirectory</key><string>__SOCIALSOL_ROOT__</string>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>6</integer><key>Minute</key><integer>30</integer></dict>
  <key>EnvironmentVariables</key><dict>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>OPENCLAW_SLACK_ACCOUNT</key><string>__OPENCLAW_SLACK_ACCOUNT__</string>
    <key>RESORT_ACCOUNTING_CHANNEL</key><string>__RESORT_ACCOUNTING_CHANNEL__</string>
  </dict>
  <key>StandardOutPath</key><string>__SOCIALSOL_ROOT__/logs/daily-tests.log</string>
  <key>StandardErrorPath</key><string>__SOCIALSOL_ROOT__/logs/daily-tests.err</string>
</dict></plist>
