<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lapuestadelsolresort.media-rescan</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__SOCIALSOL_ROOT__/media/scripts/rescan-sarah.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__SOCIALSOL_ROOT__/media</string>
  <key>RunAtLoad</key>
  <false/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>7</integer>
    <key>Minute</key>
    <integer>45</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__SOCIALSOL_ROOT__/media/logs/media-rescan.log</string>
  <key>StandardErrorPath</key>
  <string>__SOCIALSOL_ROOT__/media/logs/media-rescan.err</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>SOCIALSOL_ROOT</key>
    <string>__SOCIALSOL_ROOT__</string>
    <key>MEDIA_SHOOT_SLUG</key>
    <string>2025-10-28-property</string>
  </dict>
</dict>
</plist>
