<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lapuestadelsolresort.gmail-reply-forwarder</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__SOCIALSOL_ROOT__/crm/scripts/gmail-reply-forwarder.js</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>SOCIALSOL_ROOT</key>
    <string>__SOCIALSOL_ROOT__</string>
    <key>PROSPECTOR_SLACK_CHANNEL</key>
    <string>__PROSPECTOR_SLACK_CHANNEL__</string>
    <key>SARAH_EMAIL_SLACK_CHANNEL</key>
    <string>__SARAH_EMAIL_SLACK_CHANNEL__</string>
    <key>OPENCLAW_SLACK_ACCOUNT</key>
    <string>__OPENCLAW_SLACK_ACCOUNT__</string>
    <key>GMAIL_IMPERSONATE_USER</key>
    <string>__GMAIL_IMPERSONATE_USER__</string>
  </dict>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>StandardOutPath</key>
  <string>__SOCIALSOL_ROOT__/crm/logs/gmail-reply-forwarder.log</string>
  <key>StandardErrorPath</key>
  <string>__SOCIALSOL_ROOT__/crm/logs/gmail-reply-forwarder.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
