<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.lapuestadelsolresort.paloma-summary</string>
  <key>ProgramArguments</key><array><string>/bin/bash</string><string>__SOCIALSOL_ROOT__/paloma/scripts/weekly-summary.sh</string></array>
  <key>WorkingDirectory</key><string>__SOCIALSOL_ROOT__</string>
  <key>StartCalendarInterval</key><dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
  <key>EnvironmentVariables</key><dict><key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string></dict>
  <key>StandardOutPath</key><string>__SOCIALSOL_ROOT__/logs/paloma-summary.log</string>
  <key>StandardErrorPath</key><string>__SOCIALSOL_ROOT__/logs/paloma-summary.err</string>
</dict></plist>
