<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lapuestadelsolresort.gtku</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__SOCIALSOL_ROOT__/crm/scripts/gtku-daily.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>8</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__SOCIALSOL_ROOT__/memory/gtku-log.txt</string>
  <key>StandardErrorPath</key>
  <string>__SOCIALSOL_ROOT__/memory/gtku-log.txt</string>
  <key>RunAtLoad</key>
  <false/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SOCIALSOL_ROOT</key><string>__SOCIALSOL_ROOT__</string>
    <key>SOCIALSOL_SECRETS_DIR</key><string>__SOCIALSOL_SECRETS_DIR__</string>
    <key>POSTIZ_INTEGRATION_ID</key><string>__POSTIZ_INTEGRATION_ID__</string>
    <key>GTKU_GOOGLE_ACCOUNT</key><string>__GTKU_GOOGLE_ACCOUNT__</string>
  </dict>
</dict>
</plist>
