<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lapuestadelsolresort.inbound-email-scanner</string>
  <key>ProgramArguments</key>
  <array>
    <string>__NODE_BIN__</string>
    <string>__SOCIALSOL_ROOT__/crm/scripts/inbound-email-scanner.js</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>SOCIALSOL_ROOT</key>
    <string>__SOCIALSOL_ROOT__</string>
    <key>SOCIALSOL_SECRETS_DIR</key>
    <string>__SOCIALSOL_SECRETS_DIR__</string>
    <key>OPENCLAW_SLACK_ACCOUNT</key>
    <string>__OPENCLAW_SLACK_ACCOUNT__</string>
    <key>GMAIL_IMPERSONATE_USER</key>
    <string>__GMAIL_IMPERSONATE_USER__</string>
    <key>RESORT_SOCIAL_CHANNEL</key>
    <string>__RESORT_SOCIAL_CHANNEL__</string>
  </dict>
  <key>StartInterval</key>
  <integer>900</integer>
  <key>StandardOutPath</key>
  <string>__SOCIALSOL_ROOT__/crm/logs/inbound-email-scanner.log</string>
  <key>StandardErrorPath</key>
  <string>__SOCIALSOL_ROOT__/crm/logs/inbound-email-scanner.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
