<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lapuestadelsolresort.github-autosave</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__SOCIALSOL_ROOT__/scripts/autosave-to-github.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__SOCIALSOL_ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>SOCIALSOL_AUTOSAVE_REMOTE</key>
    <string>origin</string>
    <key>SOCIALSOL_AUTOSAVE_BRANCH</key>
    <string>autosave/macmini</string>
    <key>SOCIALSOL_AUTOSAVE_MAX_FILE_BYTES</key>
    <string>10485760</string>
  </dict>
  <key>StartInterval</key>
  <integer>1800</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__SOCIALSOL_ROOT__/logs/github-autosave.log</string>
  <key>StandardErrorPath</key>
  <string>__SOCIALSOL_ROOT__/logs/github-autosave.err</string>
</dict>
</plist>
